/* add your CSS here */
body{
  font-family: 'Raleway', sans-serif;
  width:400px;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
}
.title{
  margin: 8px;

}
.image{
  width:300px;
  height:200px;
  margin:8px;
}
ul{
  list-style-type: none;
  text-align: left;
}
.fact{
  font-style: italic;
}
span{
  font-weight:bold;
}
.card{
    -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.2);
    border:3px solid;
    border-width: thin;
    margin:8px;

}
.info{
  border:1px solid;
  display: block;
  margin:8px;
}
.content{
  margin:8px;
}
